*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 800px;
    height: 200px;
    border: 1px solid rgb(0, 255, 200);
    margin: auto;
}
#character{
    width: 20px;
    height: 50px;
    background-color: rgb(255, 0, 179);
    position:relative;
    top: 150px;
}
.animate{
    animation: jump 0.6s linear;
}
@keyframes jump{
    0%{top: 200px;}
    30%{top: 80px;}
    70%{top: 80px;}
    100%{top: 200px;}
}

#block{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 2s infinite linear;
}
@keyframes block{
    0%{left: 800px}
    100%{left: -20px}
}
p{
    text-align: center;
}